<!doctype html>
<html lang="zh-Hant">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/_settings.css">
    <link rel="stylesheet" href="/css/Shared_layout/_layout.css">
    <link rel="stylesheet" href="/css/Member/Coupon.css">


    <title>你訂Nidin!最棒的線上訂餐系統</title>
    </head>
    <body>

        <div class="container">
            <div class="col-8 m-auto mt-4">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">兌換專區</button>
                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">我的券夾</button>
                    </div>
                </nav>
                <div class="col-md-12 tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="card mt-3">
                            <div class="card-header text-center">
                                優惠兌換專區
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-center">請在下面輸入折扣碼，領取各種優惠</h5>
                                <div class="input-group mb-3 mt-3">
                                    <input type="text" class="form-control" placeholder="請輸入折扣碼" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <button type="button" class="btn btn-primary">確認</button>
                                </div>
                            </div>
                        </div>
                        <div class="container my-5 col-sm-12" id="discount-tab">
                            <!-- <div class="row">
                                <div class="col-sm-6 mt-3">
                                    <div class="btn bg-white rounded mb-3 d-flex justify-content-between" id="coupon">
                                        <div class="kiri p-3">
                                            <div class="info icon-container ">
                                                <div class="icon-container_box">
                                                    <img src="#" width="54px" height="54px" alt="totoprayogo.com"  class="rounded-circle"/>
                                                    <p class="text-center mt-2"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tengah py-3 w-100 text-start p-2 ">
                                            <div>
                                                <h5 class="fs-5 fw-bold"></h5>
                                                <h6 class="fs-6"></h6>
                                                <p class="text-muted mb-0"></p>
                                                <span class="badge bg-secondary"></span>
                                                <span class="badge bg-secondary"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="row tab-pane fade mt-4 m-auto" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                            <div class="container-fluid">
                                <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">首頁</a></li>
                                    <li class="breadcrumb-item"><a href="#">我的券夾</a></li>
                                </ol>
                                </nav>
                            </div>
                        </nav>
                        <div class="row g-2 align-items-center hide-in-ads mb-3">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="col-auto">
                                            <label for="inputPassword6" class="col-form-label">品牌</label>
                                        </div>
                                        <div class="col-auto">
                                            <div class="row">
                                                <div class="col-md">
                                                    <div class="Brand form-floating" id="coupon_select_dropdownitem">
                                                        <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                                                            <option selected>全部</option>
                                                            <option value="1">One</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="col-auto">
                                            <label for="inputPassword6" class="col-form-label">狀態</label>
                                        </div>
                                        <div class="col-auto">
                                            <div class="row">
                                                <div class="col-md">
                                                    <div class="Status form-floating">
                                                        <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                                                            <option selected>全部</option>
                                                            <option value="1">可使用</option>
                                                            <option value="2">轉贈紀錄</option>
                                                            <option value="3">歷史紀錄</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="col-12 mb-3 display-in-mobile">
                            <div class="col-md">
                                <div class="form-floating">
                                    <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                                        <option selected>全部</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating">
                                    <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                                        <option selected>全部</option>
                                        <option value="1">可使用</option>
                                        <option value="2">轉贈紀錄</option>
                                        <option value="3">歷史紀錄</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" tabindex="0" id="nav-discount-tab" data-bs-toggle="tab" data-bs-target="#nav-discount" type="button" role="tab" aria-controls="nav-discount" aria-selected="true">折價券與單品折扣券</button>
                            <button class="nav-link" tabindex="-1" id="nav-voucher-tab" data-bs-toggle="tab" data-bs-target="#nav-voucher" type="button" role="tab" aria-controls="nav-voucher" aria-selected="false">商品券</button>
                            <div class=" d-grid gap-2 d-md-flex justify-content-md-end align-content-end mb-2 ml-auto" >
                                <button class="hide-in-ads btn btn-primary me-md-2 show active" tabindex="0" id="nav-discount-btn" data-bs-toggle="tab" data-bs-target="#nav-discount" type="button" role="tab" aria-controls="nav-discount" aria-selected="true"onclick="CouponButton();" value="折價券轉贈">折價券轉贈</button>
                                <!-- <button class="hide-in-ads btn btn-primary show" tabindex="-1" id="nav-voucher-tab" data-bs-toggle="tab" data-bs-target="#nav-voucher" type="button" role="tab" aria-controls="nav-voucher" aria-selected="false">商品券</button> -->
                            </div>
                        </div>
                    </nav>
                    <div class="col-md-auto tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active"tabindex="-1"  id="nav-discount" role="tabpanel" aria-labelledby="nav-discount-tab">
                            <span class="text-muted">使用折價券消費之商品如經取消或銷退者，折價券視同已使用，恕不得要求保留或轉換為現金， 折價券恕不找零，請於有效期限內使用折價券，逾期視同自動作廢，不得申請補發。 品牌/門市擁有做最後說明調整的權利。</span>
                            <div class=" d-grid gap-2 d-md-flex justify-content-md-center align-content-center mb-2 mt-2">
                                <button class="display-in-mobile btn btn-primary me-md-2" id="nav-discount-tab" data-bs-toggle="tab" data-bs-target="#nav-discount" type="button" role="tab" aria-controls="nav-discount" aria-selected="true">折價券轉贈</button>
                            </div>
                            <div class="container my-3 col-sm-12" data-bs-toggle="modal" data-bs-target="#din_Modal" id="tab">
                                <div class="row">
                                    <div class="col-sm-6 mt-3">
                                        <div class="btn bg-white rounded mb-3 d-flex justify-content-between"   id="coupon">
                                            <div class="kiri p-3">
                                                <div class="info icon-container ">
                                                    <div class="icon-container_box">
                                                        <img src="/img/Shared_layout/logo1.jpg" width="54px" height="54px" alt="totoprayogo.com"  class="rounded-circle"/>
                                                        <p class="text-center mt-2">$40</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tengah py-3 w-100 text-start p-2 ">
                                                <div>
                                                    <h5 class="fs-5 fw-bold">可不可熟成紅茶</h5>
                                                    <h6 class="fs-6">熟成紅茶20元加價購</h6>
                                                    <p class="text-muted mb-0">2022/03/16-2022/03/15</p>
                                                    <span class="badge bg-secondary">Valid</span>
                                                    <span class="badge bg-secondary">Valid</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" id="din_Modal" tabindex="-1" aria-labelledby="din_ModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                <div class="modal-content">
                                                    <div class="modal-header border-bottom-0">
                                                        <div class="m-auto text-center">
                                                            <img src="/img/Shared_layout/logo1.jpg" width="54px" height="54px" alt="totoprayogo.com"  class="rounded-circle"/>
                                                            <h3 class="modal-title" id="din_ModalLabel">Title</h3>
                                                            <span class="badge bg-secondary">Valid</span>
                                                            <span class="badge bg-secondary">Valid</span>
                                                        </div>
                                                        <button type="button" data-bs-dismiss="modal" aria-label="Close">
                                                            <i class="fas fa-times-circle text_pink fz_18"></i>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>
                                                            本券僅限於你訂線上訂購系統，單筆消費任1杯飲品即可以20元加價購女神薑檸1杯（訂單折抵40元，等同20元加價購），每筆訂單限用1張折價券，不與其他優惠併用。使用折價券消費之商品如經取消或滯退者，折價券視同已使用，恕不得要求保留或轉換為現金，逾期視同自動作廢，不得申請補發。
                                                        </p>
                                                        <br>
                                                        <p>
                                                            取得來源: 其他方式贈送
                                                        </p>
                                                        <br>
                                                        <p>
                                                            使用期限: 2022/03/15-2022/05/31
                                                        </p>
                                                        <br>
                                                        <p>
                                                            使用限制: 適用於{{Brands}{以下門市
                                                        </p>
                                                        <br>
                                                        <p>
                                                            可用門市: 士林大北店、信義市府店、內湖江南店、台北國泰店、台北合江店、內湖園區店、大安復興店、台北石牌店、板橋府中店、蘆洲光華店、林口文化店、桃園南崁店、桃園南平店、桃園桃鶯店、新竹光復店、花蓮中正店、台中精誠店、高雄新堀江店、高雄左營店、永康中華店、台南東寧店、屏東中正店、桃園八德店、測試店、台南站前店、桃園永安店、竹北文興店、嘉義中正店、三峽北大店、樹林站前店、鳳山五甲店、土城海山店、土城中央店、三民建工店、長庚復興北店、苗栗竹南店、台北濟南店、楠梓德賢店、台南國華店、高雄苓雅店、台中神岡店、桃園大園店、台北北醫店、彰化民族店、南投埔里店、板橋中山店、台中勤美店、台中昌平店、台中豐原店、台北南京店、三重正義店、中正南門店、中和連城店、高雄岡山店、新莊輔大店、新店大坪林店、台中一中店、小港漢民店、南港園區店、汐止中興店、文山木新店、桃園龍潭店、中壢新生店、彰化伸港店、澎湖馬公店、台中南屯店、永和竹林店、台中大甲店、新莊新泰店、竹北三民店、板橋致理店、信義永春店、台中中工店、嘉義民雄店、基隆義二店、台南善化店、台北遼寧店、台北延平南店、板橋民治店、內壢中華店、高雄明華店
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer border-top-0">
                                                        <div class="d-grid gap-2 col-6 mx-auto">
                                                            <a type="button" class="btn btn-secondary m-auto" data-bs-dismiss="modal" href="#">趕緊來用</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 mt-3">
                                        <div class="btn bg-white rounded mb-3 d-flex justify-content-between"   id="coupon">
                                            <div class="kiri p-3">
                                                <div class="info icon-container align-content-center">
                                                    <div class="icon-container_box">
                                                        <img src="/img/Shared_layout/logo1.jpg" width="54px" height="54px" alt="totoprayogo.com"  class="rounded-circle"/>
                                                        <p class="text-center mt-2">$40</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tengah py-3 w-100 text-start p-2 ">
                                                <div>
                                                    <h5 class="fs-5 fw-bold">可不可熟成紅茶</h5>
                                                    <h6 class="fs-6">熟成紅茶20元加價購</h6>
                                                    <p class="text-muted mb-0">2022/03/16-2022/03/15</p>
                                                    <span class="badge bg-secondary">Valid</span>
                                                    <span class="badge bg-secondary">Valid</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                <div class="modal-body">
                                                    ...
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 mt-3">
                                        <div class="btn bg-white rounded mb-3 d-flex justify-content-between"   id="coupon">
                                            <div class="kiri p-3">
                                                <div class="info icon-container ">
                                                    <div class="icon-container_box">
                                                        <img src="/img/Shared_layout/logo1.jpg" width="54px" height="54px" alt="totoprayogo.com"  class="rounded-circle"/>
                                                        <p class="text-center mt-2">$40</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tengah py-3 w-100 text-start p-2 ">
                                                <div>
                                                    <h5 class="fs-5 fw-bold">可不可熟成紅茶</h5>
                                                    <h6 class="fs-6">熟成紅茶20元加價購</h6>
                                                    <p class="text-muted mb-0">2022/03/16-2022/03/15</p>
                                                    <span class="badge bg-secondary">Valid</span>
                                                    <span class="badge bg-secondary">Valid</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                <div class="modal-body">
                                                    ...
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 mt-3">
                                        <div class="btn bg-white rounded mb-3 d-flex justify-content-between"   id="coupon">
                                            <div class="kiri p-3">
                                                <div class="info icon-container ">
                                                    <div class="icon-container_box m-auto">
                                                        <img src="/img/Shared_layout/logo1.jpg" width="54px" height="54px" alt="totoprayogo.com"  class="rounded-circle"/>
                                                        <p class="text-center mt-2">$40</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tengah py-3 w-100 text-start p-2 ">
                                                <div>
                                                    <h5 class="fs-5 fw-bold">可不可熟成紅茶</h5>
                                                    <h6 class="fs-6">熟成紅茶20元加價購</h6>
                                                    <p class="text-muted mb-0">2022/03/16-2022/03/15</p>
                                                    <span class="badge bg-secondary">Valid</span>
                                                    <span class="badge bg-secondary">Valid</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                <div class="modal-body">
                                                    ...
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="nav-voucher" role="tabpanel" aria-labelledby="nav-voucher-tab">
                            <span class="text-muted">商品券適用門市可點進去查看。使用商品券消費之商品如經取消或銷退者視同已使用，恕不得要求保留或轉換為現金，商品券恕不找零。請於有效期限內使用，逾期將會退款。退款後需三周作業時間，將退款回原購買帳戶或信用卡。退款金額請以品牌公告為主。品牌/門市擁有做最後說明調整的權利。</span>
                            <div class=" d-grid gap-2 d-md-flex justify-content-md-center align-content-center mb-2 mt-2">
                                <button class="display-in-mobile btn btn-primary" id="nav-voucher-tab" data-bs-toggle="tab" data-bs-target="#nav-voucher" type="button" role="tab" aria-controls="nav-voucher" aria-selected="false">商品券</button>
                            </div>
                            <div class="container my-3 col-sm-12" data-bs-toggle="modal" data-bs-target="#din_Voucher_Modal" id="tab">
                                <div class="row">
                                    <div class="col-sm-6 mt-3">
                                        <div class="btn bg-white rounded mb-3 d-flex justify-content-between"   id="coupon">
                                            <div class="kiri p-3">
                                                <div class="info icon-container ">
                                                    <div class="icon-container_box">
                                                        <img src="/img/Shared_layout/logo1.jpg" width="54px" height="54px" alt="totoprayogo.com"  class="rounded-circle"/>
                                                        <p class="text-center mt-2">$40</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tengah py-3 w-100 text-start p-2 ">
                                                <div>
                                                    <h5 class="fs-5 fw-bold">可不可熟成紅茶</h5>
                                                    <h6 class="fs-6">熟成紅茶20元加價購</h6>
                                                    <p class="text-muted mb-0">2022/03/16-2022/03/15</p>
                                                    <span class="badge bg-secondary">Valid</span>
                                                    <span class="badge bg-secondary">Valid</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" id="din_Voucher_Modal" tabindex="-1" aria-labelledby="din_ModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                <div class="modal-content">
                                                    <div class="modal-header border-bottom-0">
                                                        <div class="m-auto text-center">
                                                            <img src="/img/Shared_layout/logo1.jpg" width="54px" height="54px" alt="totoprayogo.com"  class="rounded-circle"/>
                                                            <h3 class="modal-title" id="din_ModalLabel">Title</h3>
                                                            <span class="badge bg-secondary">Valid</span>
                                                            <span class="badge bg-secondary">Valid</span>
                                                        </div>
                                                        <button type="button" data-bs-dismiss="modal" aria-label="Close">
                                                            <i class="fas fa-times-circle text_pink fz_18"></i>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>
                                                            本券僅限於你訂線上訂購系統，單筆消費任1杯飲品即可以20元加價購女神薑檸1杯（訂單折抵40元，等同20元加價購），每筆訂單限用1張折價券，不與其他優惠併用。使用折價券消費之商品如經取消或滯退者，折價券視同已使用，恕不得要求保留或轉換為現金，逾期視同自動作廢，不得申請補發。
                                                        </p>
                                                        <br>
                                                        <p>
                                                            取得來源: 其他方式贈送
                                                        </p>
                                                        <br>
                                                        <p>
                                                            使用期限: 2022/03/15-2022/05/31
                                                        </p>
                                                        <br>
                                                        <p>
                                                            使用限制: 適用於{{Brands}{以下門市
                                                        </p>
                                                        <br>
                                                        <p>
                                                            可用門市: 士林大北店、信義市府店、內湖江南店、台北國泰店、台北合江店、內湖園區店、大安復興店、台北石牌店、板橋府中店、蘆洲光華店、林口文化店、桃園南崁店、桃園南平店、桃園桃鶯店、新竹光復店、花蓮中正店、台中精誠店、高雄新堀江店、高雄左營店、永康中華店、台南東寧店、屏東中正店、桃園八德店、測試店、台南站前店、桃園永安店、竹北文興店、嘉義中正店、三峽北大店、樹林站前店、鳳山五甲店、土城海山店、土城中央店、三民建工店、長庚復興北店、苗栗竹南店、台北濟南店、楠梓德賢店、台南國華店、高雄苓雅店、台中神岡店、桃園大園店、台北北醫店、彰化民族店、南投埔里店、板橋中山店、台中勤美店、台中昌平店、台中豐原店、台北南京店、三重正義店、中正南門店、中和連城店、高雄岡山店、新莊輔大店、新店大坪林店、台中一中店、小港漢民店、南港園區店、汐止中興店、文山木新店、桃園龍潭店、中壢新生店、彰化伸港店、澎湖馬公店、台中南屯店、永和竹林店、台中大甲店、新莊新泰店、竹北三民店、板橋致理店、信義永春店、台中中工店、嘉義民雄店、基隆義二店、台南善化店、台北遼寧店、台北延平南店、板橋民治店、內壢中華店、高雄明華店
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer border-top-0">
                                                        <div class="d-grid gap-2 col-6 mx-auto">
                                                            <a type="button" class="btn btn-secondary m-auto" data-bs-dismiss="modal" href="#">趕緊來用</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 mt-3">
                                        <div class="btn bg-white rounded mb-3 d-flex justify-content-between"   id="coupon">
                                            <div class="kiri p-3">
                                                <div class="info icon-container align-content-center">
                                                    <div class="icon-container_box">
                                                        <img src="/img/Shared_layout/logo1.jpg" width="54px" height="54px" alt="totoprayogo.com"  class="rounded-circle"/>
                                                        <p class="text-center mt-2">$40</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tengah py-3 w-100 text-start p-2 ">
                                                <div>
                                                    <h5 class="fs-5 fw-bold">可不可熟成紅茶</h5>
                                                    <h6 class="fs-6">熟成紅茶20元加價購</h6>
                                                    <p class="text-muted mb-0">2022/03/16-2022/03/15</p>
                                                    <span class="badge bg-secondary">Valid</span>
                                                    <span class="badge bg-secondary">Valid</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                <div class="modal-body">
                                                    ...
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 mt-3">
                                        <div class="btn bg-white rounded mb-3 d-flex justify-content-between"   id="coupon">
                                            <div class="kiri p-3">
                                                <div class="info icon-container ">
                                                    <div class="icon-container_box">
                                                        <img src="/img/Shared_layout/logo1.jpg" width="54px" height="54px" alt="totoprayogo.com"  class="rounded-circle"/>
                                                        <p class="text-center mt-2">$40</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tengah py-3 w-100 text-start p-2 ">
                                                <div>
                                                    <h5 class="fs-5 fw-bold">可不可熟成紅茶</h5>
                                                    <h6 class="fs-6">熟成紅茶20元加價購</h6>
                                                    <p class="text-muted mb-0">2022/03/16-2022/03/15</p>
                                                    <span class="badge bg-secondary">Valid</span>
                                                    <span class="badge bg-secondary">Valid</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                <div class="modal-body">
                                                    ...
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 mt-3">
                                        <div class="btn bg-white rounded mb-3 d-flex justify-content-between"   id="coupon">
                                            <div class="kiri p-3">
                                                <div class="info icon-container ">
                                                    <div class="icon-container_box m-auto">
                                                        <img src="/img/Shared_layout/logo1.jpg" width="54px" height="54px" alt="totoprayogo.com"  class="rounded-circle"/>
                                                        <p class="text-center mt-2">$40</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tengah py-3 w-100 text-start p-2 ">
                                                <div>
                                                    <h5 class="fs-5 fw-bold">可不可熟成紅茶</h5>
                                                    <h6 class="fs-6">熟成紅茶20元加價購</h6>
                                                    <p class="text-muted mb-0">2022/03/16-2022/03/15</p>
                                                    <span class="badge bg-secondary">Valid</span>
                                                    <span class="badge bg-secondary">Valid</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>


        <script type="text/javascript">
            function CouponButton()
        {
            var c = document.getElementById("nav-discount-btn");
            if(c.value== "折價券轉贈"){
                c.value ="商品券";
            }
            else if(c.value== "商品券")
            {
                c.value ="折價券轉贈";
            }
        }

    const couponSelectDropdownitem = document.getElementById('coupon_select_dropdownitem')
    const couponShopCardsBox = document.getElementById('tab')
    const couponBrand = document.getElementById('floatingSelectGrid')
    const couponBrandItems = document.querySelectorAll('.Brand.dropdown-item')
    const couponStatus = document.getElementById('floatingSelectGrid')
    const couponStatusItems = document.querySelectorAll('.Status.dropdown-item')
    let CouponModalSubmitBtn
    let requestData = { Brand: '全部', Status: '全部' }

    window.onload = function () {
    CouponBrandItems.forEach(item => {
        item.onclick = function () {
            CouponBrand.value = item.innerText
            if (window.innerWidth >= 992) {
                requestData.Filter = true
                requestData.Brand = CouponBrand.value
                getShopCards(requestData)
            } else {
                searchModalSubmitBtn.disabled = false
            }
        }
    })
    CouponStatusItems.forEach(item => {
        item.onclick = function () {
            CouponStatus.innerText = item.innerText
            if (window.innerWidth >= 992) {
                requestData.Filter = true
                requestData.Category = CouponStatus.innerText
                getShopCards(requestData)
            } else {
                CouponModalSubmitBtn.disabled = false
            }
        }
    })
}
function getShopCards(data) {
    fetch('/Store/Search', {
        headers: {
            'Accept': 'application/json,text/plain',
            'Content-Type': 'application/json;charset=UTF-8'
        },
        method: 'POST',
        body: JSON.stringify(data)
    }).then(r => r.text()).then(r => {
        CouponShopCardsBox.innerHTML = r
        setFavorite()
    })
}
function createSubmitButton(btntext, btnclickfunc) {
    CouponModalSubmitBtn = document.createElement('button')
    CouponModalSubmitBtn.type = 'submit'
    CouponModalSubmitBtn.classList.add('p-4', 'w-50', 'rounded-1', 'bg_pink', 'text_white', 'fw-bold')
    CouponModalSubmitBtn.id = 'Coupon_modal_submitbtn'
    CouponModalSubmitBtn.disabled = true
    CouponModalSubmitBtn.innerText = btntext
    CouponModalSubmitBtn.onclick = btnclickfunc
}
function openFilter() {
    requestData.Filter = false
    requestData.Brand = '全部'
    requestData.Category = '全部'
    requestData.Evaluate = '全部'
    couponBrand.disabled = false
    CouponStatus.disabled = false
    couponBrand.innerText = '全部'
    CouponStatus.innerText = '全部'
}
    

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>